<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Blog
        <% if (title) {%>
               <%= "| " + title%>
        <% } %>
    </title>
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
<!--    kelias yra nurodomas nuo static js, kuris aprasytas index.js-->
    <link rel="stylesheet" href="/css/style.css">
    <% if (page === "singleP") { %>
    <script src="/js/blog_helper_functions/deleteSingle.js" defer type="module"></script>
    <% } %>
    <% if (page === "createB") { %>
    <script src="/js/blog_helper_functions/create.js" defer type="module"></script>
    <% } %>
    <% if (page === "single_edit") { %>
    <script src="/js/blog_helper_functions/edit.js" defer type="module"></script>
    <% } %>
    <% if (page === "owners_createOwners") { %>
    <script src="/js/owner_helper_functions/createOwner.js" defer type="module"></script>
    <% } %>
    <% if (page === "singleOwner") { %>
    <script src="/js/owner_helper_functions/deleteSingleOwner.js" defer type="module"></script>
    <% } %>
  </head>
  <body class="container">