<form class="form-inline" action="owners/search" method="GET" autocomplete="off">
    <h4> You can search for your blogs below here:</h4>
    <label>
        <input required type="search"
               class="form-control"
               name="search"
               placeholder="enter owner">
        <button class="btn btn-sm btn-outline-primary"
                type="submit"> Search for blog</button>
    </label>
</form>