<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<main role="main">
    <h1> Add new owner </h1>
    <h2> sample form </h2>
</main>

<%- include('../partials/footer.ejs') %>